<!--
    Display boasts and roasts sorted by time submitted
    Buttons to filter for boasts or roasts
    Upvote and downvote for each boast/roast
    -when clicked they effect the numbers for each
    Ability to sort based on vote score (need to calculate vote score)
-->
{% extends 'base.html' %} {% block content %}
<h1>Ya Boasted/Ya Burnt</h1>
{% for post in posts %}
<div class="posts">{{post.title}}<br /></div>
{% endfor %}
<h5><a href='{% url "submit" %}'>Submit your own</a></h5>
{% endblock %}
